<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <div id='mySidenav' class='sidenav'>
      <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>&times;</a>
      <a href='/logout'>Logout</a>
      <a href='/tasks/create_tasklist'>Create Tasklist</a>
      <a class='section' href='/home'>My Tasklists</a>
      <!-- <p class='section'>My Tasklists</p> -->
      <% tasklists.forEach(function(list) { %>
        <a class='menulist' href='/home/<%= list.listname %>'><%= list.listname %></a>
      <% }); %>
      <!-- <a href='#' style='margin-top:24px'>Edit Tasklists</a> -->
      <!-- TODO add edit tasklist feature -->
    </div>

    <span style='font-size:30px;cursor:pointer' onclick='openNav()'>&#9776;Projects</span>
    <h1>Welcome <%= username %>!</h1>
    <p><%= message %></p>
  </body>
</html>