<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/motivational.css' />
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/environment.js"></script>
    <script src="/js/env-motivational.js"></script>
  </head>
  <body>
    <div id='currentList'><%= listname %></div>
    <div class='backhome'>
      <button onclick="location.href = '/home'" id='homebtn'>&lt; Home</button>
    </div>

    <div class='dropdown' id='skin'>
      <button onclick='drop()' class='dropbtn' id='skinbtn'>Change environment</button>
      <div id='myDropdown' class='dropdown-content'>
        <a href='/home/<%= listname %>/neutral'>A</a>
        <a href='/home/<%= listname %>/calm'>B</a>
        <a href='/home/<%= listname %>/motivational'>C</a>
        <a href='/home/<%= listname %>/depressing'>D</a>
        <a href='/home/<%= listname %>/stressful'>E</a>
      </div>
    </div>

    <div class='dropdownTasks'>
      <button onclick='dropTasks()' class='dropbtntasks unfinished' id='taskbtn'>Right now, I want to work on...</button>
      <div id='dropTasks' class='dropdown-content-tasks'>
        <% tasks.forEach(function(task) { %>
          <div class='taskobj'>
            <p class='task'><%= task.objective %></p>
            <p class='date'><%= task.deadline %></p>
            <p class='completed'><%= task.completed %></p>
          </div>
        <% }); %>
      </div>
    </div>

    <span id='workingOn'></span>
    <img id='workingOnDisplay' src='/images/env-motiv-current-task.png'>

    <div id='countdown'>
      <!-- <div class='containers'>
        <span class='time' id='days'></span>
        <div class='timetext'>days</div>
      </div> -->
      <div class='containers'>
        <span class='time' id='hours'></span>
        <div class='timetext'>hrs</div>
      </div>
      <div class='containers'>
        <span class='colon'>:</span>
        <div class='colonspace'>c</div>
      </div>
      <div class='containers'>
        <span class='time' id='minutes'></span>
        <div class='timetext'>mins</div>
      </div>
      <div class='containers'>
        <span class='colon'>:</span>
        <div class='colonspace'>c</div>
      </div>
      <div class='containers'>
        <span class='time' id='seconds'></span>
        <div class='timetext'>sec</div>
      </div>
    </div>

    <div id='finishedCircleDiv'>
      <div id='checkmark'></div>
    </div>

    <div id='fullbloomDiv'>
      <img id='fullbloom' src='/images/env-motiv-full-bloom.png'>
    </div>
    <div id='progressbarDiv'>
      <img id='progressbar' src='/images/env-motiv-progress-bar.png'>
    </div>
    <div>
      <% tasks.forEach(function(task) { %>
        <div class='tasksOnBar'>
          <p class='task-bar'><%= task.objective %></p>
          <p class='date-bar'><%= task.deadline %></p>
          <p class='completed-bar'><%= task.completed %></p>
          <div class='dots' id='progressdot'></div>
          <div class='dotborder' id='progressdotborder'></div>
        </div>
      <% }); %>
    </div>
    <span id='hoverTask'></span>
    <img id='hoverCompleteTask' src='/images/env-motiv-task-complete.png'>
    <img id='hoverIncompleteTask' src='/images/env-motiv-task-incomplete.png'>
    <div>
      <img id='progressarrow' src='/images/env-motiv-arrow.png'>
    </div>

    <div>
      <img class='plant' id='plant1' src='/images/env-motiv-plant1.png'>
    </div>
    <div>
      <img class='plant' id='plant2' src='/images/env-motiv-plant2.png'>
    </div>
    <div>
      <img class='plant' id='plant3' src='/images/env-motiv-plant3.png'>
    </div>
    <div>
      <img class='plant' id='plant4' src='/images/env-motiv-plant4.png'>
    </div>
    <audio id='soundtrack' src='/audio/lalaland.mp3' loop autoplay></audio>

    <script>
      $('.dropdownTasks').css('left', ($(window).width() - 300)/2);
      $('.dropdownTasks').css('top', ($(window).height() - 80)/2 - 100); /* putting it 100px above center so that when the dropdown menu is clicked, the entire thing is more centered */
    </script>
  </body>
</html>