<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <div id='mySidenav' class='sidenav'>
      <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>&times;</a>
      <a href='/logout'>Logout</a>
      <a href='/tasks/create_tasklist'>Create Tasklist</a>
      <a class='section' href='/home'>My Tasklists</a>
      <!-- <p class='section'>My Tasklists</p> -->
      <% tasklists.forEach(function(list) { %>
        <a class='menulist' href='/home/<%= list.listname %>'><%= list.listname %></a>
      <% }); %>
      <a href='#' style='margin-top:24px'>Edit Tasklists</a>
      <!-- TODO add edit tasklist feature -->
    </div>
    <span style='font-size:30px;cursor:pointer' onclick='openNav()'>&#9776;Projects</span>
    <h1>Working on: <%= thislist.listname %></h1>
    <% tasks.forEach(function(task) { %>
      <p class='task'><%= task.objective %></p>
    <% }); %>
    <div class='dropdown'>
      <button onclick='drop()' class='dropbtn'>Select your environment</button>
      <div id='myDropdown' class='dropdown-content'>
        <a href='/home/<%= thislist.listname %>/neutral'>Neutral</a>
        <a href='/home/<%= thislist.listname %>/calm'>Calm</a>
        <a href='/home/<%= thislist.listname %>/motivational'>Motivational</a>
        <a href='/home/<%= thislist.listname %>/depressing'>Depressing</a>
        <a href='/home/<%= thislist.listname %>/stressful'>Stressful</a>
      </div>
    </div>

    <script>
      $('.dropdown').css('left', ($(window).width() - 300)/2);
      $('.dropdown').css('top', ($(window).height() - 80)/2 - 100); /* putting it 100px above center so that when the dropdown menu is clicked, the entire thing is more centered */
    </script>

  </body>
</html>